chromadb
ollama
python-dotenv
pypdf
nltk
transformers
torch
accelerate
sentencepiece
pydantic
rouge-score
langchain
langchain-community
langchain-ollama
requests
langchain-core
fastapi
uvicorn
python-multipart
pillow
rank-bm25
sentence-transformers
langgraph
networkx
matplotlib
llama-cpp-python
huggingface_hub
faster-whisper
sounddevice
soundfile
numpy
pyttsx3